.benefits {
    margin-bottom: 128px;
    &__content {}
}
.advantages-list {
    display: grid;
    grid-template-columns: 326px 326px 326px;
    gap: 70px;
    &__item {
        height: 244px;
        position: relative;
        &::before{
            content: '';
            height: 124px;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.50);
            position: absolute;
            right: 0;
            top: 60px;
        }
        &:last-child::before{
            display: none;
        }
    }
    &__svg-box {
        margin-bottom: 4px;
    }
    &__svg {}
    &__subtitle {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__text {
        color: rgba(255, 255, 255, 0.70);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.28px;
        width: 308px;
    }
}
@media (max-width: 1199px){
    .advantages-list{
        grid-template-rows: repeat(2, 244px);
        grid-template-columns: repeat(2, 308px);
        gap: 30px;
        width: 648px;
        &__item{
            &::before{
                display: none;
            }
        }
    }
}
@media (max-width: 768px){
    .advantages-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}