.product-description {
    margin-bottom: 100px;
    &__content {
        color: $blackColor;
    }
    &__title {
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.72px;
        text-transform: uppercase;
        width: 411px;
    }
    &__yellow-title {
        color: #FD9222;
    }
    &__text {
        margin-bottom: 22px;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 128.571% */
        letter-spacing: -0.28px;
        width: 486px;
    }
    &__card-wrapper {
        gap: 19px;
    }
}
.product-description-card {
    width: 270px;
    height: 270px;
    border-radius: 15px;
    background-color:#FAFAFA;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:first-child{
        .front {
            background-color: #FD9222;
        } 
    }
    &:last-child, &:nth-child(2){
        .front {
            background-color: #FFF;
            &__text{
                color: $blackColor;
            }
        } 
    }
    &:nth-child(3){
        .front {  
            background-color: #1E1823;
            border: 1px solid #1E1823;
        } 
    }
    &:hover{
        .front{
            left: -100%;
        }
    }
}
.front {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    padding-top: 27px;
    padding-bottom: 27px;
    border: 1px solid #FD9222;
    transition: left 300ms;
    &__image {
        width: 206px;
        height: 160px;
    }
    &__text {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.28px;
        text-transform: uppercase;
    }
}
.back {
    gap: 8px;
    width: 270px;
    &__title {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.54px;
        text-transform: uppercase;
    }
    &__decor-box {
        gap: 6px;
    }
    &__decor-text-one {
        color: #FFF;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        padding: 5px 15px;
        border-radius: 35px;
        border: 1px solid #FD9222;
        background-color: #FD9222;
    }
    &__decor-text-two {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        padding: 5px 15px;
        border-radius: 35px;
        border: 1px solid #FD9222;
       
    }
    &__text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 128.571% */
        letter-spacing: -0.28px;
    }
}
