.products {

    &__content {}
    &__title {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.72px;
        text-transform: uppercase;
    }
    &__title--yelow {
        color: #FD9222;
    }
    &__svg {}
}
.products-list {
    &__item {
        gap: 2px;
    }
    &__image {
        width: 230px;
        height: 201px;
    }
    &__name {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.36px;
        text-transform: uppercase;
    }
    &__class {
        color: rgba(17, 17, 17, 0.70);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: -0.24px;
    }
    &__value {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}
@media (max-width: 1023px) {
    .products-list{
        &__item {
            &:last-child,  &:nth-child(3){
                display: none;
            }
        }
    }
}
@media (max-width: 600px){
    .products{
        &__title{
            font-size: 20px;
            line-height: 24px; /* 120% */
            letter-spacing: -0.6px;
        }
    }
    .products-list{
        &__item{
            &:nth-child(2){
                display: none;
            }
        }
    }
}